.about-left {
    background-color: #cae1e7;
    text-align: center;
    height: 700px;
}

.about-right{
    position: relative;
}

.about-photo {
    width: 65vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    border-radius: 5px;
}

#aboutTitle {
    padding-bottom: 2vh;
}

.bioText {
    margin-top: 20px;
    /* padding-bottom: 30px; */
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bio {
    text-align: center;
    padding: 8px;
    width: 80%;
    margin: auto;
    font-size: large;
}

.skillHeader {
    font-weight: bolder;
    margin-top: 12px;
    color: #aa9076;
    font-style: italic;
}

.skillList {
    margin: 0 auto;
    padding: 0;
}

.skill {
    list-style-type: none;
}
.sand{
    height: 173px;
    width: 100%;
}
