.viewFour {
    background-color: #cae1e7;
    height: 873px;
    background-image: url(https://www.teahub.io/photos/full/245-2455441_beach-sand-4k-wallpapers.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



#bookTitle {
    margin-top: 10vh;
    margin-bottom: 8vh;
    padding: 0;
}

h3#bookTitle:hover {
    color: #d7a573;
}

.book-cont{
    width: 100%;
    display: flex;
    justify-content: left;
}

iframe{
    border: none;
}